<ion-view view-title="Home" ng-controller="BuyModeController as buyModeScope">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Buy mode</h1>
        <div class="buttons">
            <button class="button" ng-click="buyModeScope.save()" style="margin-right: 20px;">Save</button>
            <button class="button" ng-click="buyModeScope.saveAndNew()">Save and New</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Coca-cola" ng-model="buyModeScope.product.name" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="An awesome product!" ng-model="buyModeScope.product.description" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">EAN Code</span>
                <input type="number" step="1" placeholder="123456789" ng-model="buyModeScope.product.eanCode" />
            </label>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Price (in EUR)</span>
                <input type="number" step="0.01" placeholder="1" ng-model="buyModeScope.product.price" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Quantity</span>
                <input type="number" step="1" placeholder="1" ng-model="buyModeScope.product.quantity" />
            </label>
            <ion-toggle toggle-class="toggle-calm" ng-model="buyModeScope.product.expires">Expires</ion-toggle>
            <ionic-datepicker class="item item-icon-right"
                idate="currentDate"
                callback="buyModeScope.timeExpiringCallback"
                ng-if="buyModeScope.product.expires">
                <div class="input-label">
                    Time expires
                </div>
                <input type="text" ng-model="buyModeScope.product.timeExpiring" placeholder="2015-01-01" />
                <i class="icon ion-calendar"></i>
            </ionic-datepicker>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button" ng-click="buyModeScope.scan()">Scan a Product</button>
        </div>
</ion-view>
