<ion-view view-title="Home" ng-controller="StockManagerController as stockManagerScope">
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Stock manager</h1>
        <div class="buttons">
            <button class="button">Add new</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="stockManagerScope.search" />
            </label>
            <button class="button button-clear">Cancel</button>
        </div>
        <!-- Products -->
        <ion-list>
            <ion-item ng-if="stockManagerScope.products.length == 0 && stockManagerScope.productsLoaded && stockManagerScope.productsLoadingError == ''">
                You currently do not have a item added!
            </ion-item>
            <ion-item ng-if="stockManagerScope.products.length > 0 && (stockManagerScope.products | filter : stockManagerScope.search).length == 0 && stockManagerScope.search != ''">
                We did not found any products under the keyword <b>{{stockManagerScope.search}}</b>.
            </ion-item>
            <ion-item ng-if="stockManagerScope.productsLoading">
                Loading products ...
            </ion-item>
            <ion-item ng-if="stockManagerScope.productsLoadingError">
                {{stockManagerScope.productsLoadingError}}
            </ion-item>
            <ion-item class="item-thumbnail-left"
                collection-repeat="product in stockManagerScope.products | filter : stockManagerScope.search">
                <img src="http://placehold.it/128"
                    ng-src="{{product.imageUrl}}" />
                <h2>{{product.name}}</h2>
                <p>
                    <span ng-if="product.description">
                        {{product.description}}
                        <br />
                    </span>
                    Expires:
                    <span ng-if="product.nonExpiring">never</span>
                    <span ng-if="! product.nonExpiring">
                        <span  am-time-ago="product.timeExpiring"></span>
                        <small>({{product.timeExpiring | amDateFormat:'DD.MM.YYYY'}})</small>
                    </span>
                    <br />
                    Added:
                    <span am-time-ago="product.timeCreated"></span>
                </p>
                <span class="badge badge-assertive">{{product.quantity}}</span>
                <ion-option-button class="button-positive">Edit</ion-option-button>
                <ion-option-button class="button-assertive">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
